.h3 {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  font-family: inter;
  font-size: 20px;
}
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section a {
  text-decoration: none;
  color: #b3b3b3;
  font-size: 13px;
  font-weight: bold;
}
